
<h1> Add Restaurant here!! </h1>
<div ng-controller="addRestaurantCtrl">
					<label>Restaurant name
                        <input ng-model="name" type="text" placeholder="Restaurant Name">
                    </label>
                    <label>Location
                        <input ng-model="location" type="text" placeholder="Location">
                    </label>

                    <label>Foodstyle</label>
                    <select ng-model="foodstyle">
                    	<option value="american">American</option>
                		<option value="asian">Asian</option>
                		<option value="italian">Italian</option>
                		<option value="meditarranean">Meditarranean</option>
                		<option value="mexican">Mexican</option>
               			<option value="pasta">Pasta</option>
                		<option value="pizza">Pizza</option>
                		<option value="sandwich">Sandwich</option>
  					</select>
  					    
  						<br><br>
                    <button  class = "button expanded" ng-click="addRestaurant()">Send</button>

						same: {{submitted}}
</div>