
<h1>Delete restaurants</h1>
<div ng-controller="deleteRestaurantsCtrl">
    <p>{{submitted}}</p>
    	<form ng-submit="sendPost()">
					<label>Restaurant name
                        <input ng-model="name" type="text" placeholder="Restaurant Name">
                    </label>
                    <label>Location
                        <input ng-model="location" type="text" placeholder="Location">
                    </label>
  					    
  						<br><br>
                    <button type="submit" class = "button expanded">Send</button>
        </form>
</div>