<div ng-controller="newuserCtrl">
<h1>Create an account!</h1>

					<label>Full name
                        <input type="text" placeholder="Full name" ng-model="fullname">
                    </label>
                    <label>Username
                        <input type="text" placeholder="Username" ng-model="username">
                    </label>
                    <label>Password
                        <input type="password" placeholder="Password" ng-model="password">
                    </label>
                    <label>Zip Code
                        <input type="text" placeholder="Zip Code" ng-model="zipcode">
                    </label>
                    Choose favorite foodstyles:
                        <input type="checkbox" checklist-value="american" ng-model="favoritefoodstyles['american']">American</option>
                		<input type="checkbox" checklist-value="asian" ng-model="favoritefoodstyles['asian']">Asian</option>
                		<input type="checkbox" checklist-value="italian" ng-model="favoritefoodstyles['italian']">Italian</option>
                		<input type="checkbox" checklist-value="meditarranean" ng-model="favoritefoodstyles['meditarranean']">Meditarranean</option>
                		<input type="checkbox" checklist-value="mexican" ng-model="favoritefoodstyles['mexican']">Mexican</option>
               			<input type="checkbox" checklist-value="pasta" ng-model="favoritefoodstyles['pasta']">Pasta</option>
                		<input type="checkbox" checklist-value="pizza" ng-model="favoritefoodstyles['pizza']">Pizza</option>
                		<input type="checkbox" checklist-value="sandwich" ng-model="favoritefoodstyles['sandwich']">Sandwich</option>

                    <button ng-click="createUser()" class = "button">Send</button>
                {{submitted}}
</div>