<div ng-controller="newuserCtrl">
<h1>Create an account!</h1>

					<label>Full name
                        <input type="text" placeholder="Full name" ng-model="fullname">
                    </label>
                    <label>Username
                        <input type="text" placeholder="Username" ng-model="username">
                    </label>
                    <label>Password
                        <input type="password" placeholder="Password" ng-model="password">
                    </label>
                    <label>Zip Code
                        <input type="text" placeholder="Zip Code" ng-model="zipcode">
                    </label>
                    Choose favorite foodstyle:
            <select ng-model="favoritefoodstyles">
                        <option value="american">American</option>
                		<option value="asian">Asian</option>
                		<option value="italian">Italian</option>
                		<option value="meditarranean">Meditarranean</option>
                		<option value="mexican">Mexican</option>
               			<option value="pasta">Pasta</option>
                		<option value="pizza">Pizza</option>
                		<option value="sandwich">Sandwich</option>
            </select>
                    <button ng-click="createUser()" class = "button">Send</button>
                {{submitted}}
</div>