<a class = "button" href="#/home">Home</a>
<a class = "button" href="#/addRestaurant">Add Restaurant</a>
<a class = "button" href="#/viewRestaurants">View Restaurants</a>
<a class = "button" href="#/reviews">Reviews</a>
<a class = "button" href="#/search">Search</a>
<a class = "button" href="#/login">Login</a>
<a class = "button" href="#/newuser">Create an account</a>

<h1>Create an account!</h1>

					<label>Full name
                        <input type="text" placeholder="Full name">
                    </label>
                    <label>Username
                        <input type="text" placeholder="Username">
                    </label>
                    <label>Password
                        <input type="password" placeholder="Password">
                    </label>	
                    <label>Zip Code
                        <input type="text" placeholder="Zip Code">
                    </label>
                    Choose favorite foodstyle:
            <select ng-model="orderProp">
                        <option value="american">American</option>
                		<option value="asian">Asian</option>
                		<option value="italian">Italian</option>
                		<option value="meditarranean">Meditarranean</option>
                		<option value="mexican">Mexican</option>
               			<option value="pasta">Pasta</option>
                		<option value="pizza">Pizza</option>
                		<option value="sandwich">Sandwich</option>
            </select>
                    <p><a type="submit" class="button expanded">Log In</a></p>
