<div ng-controller="recsCtrl">

<h1>{{error}}</h1>

<select ng-model="recType"\>
    <option value="normal">Normal</option>
    <option value="location">By location</option>
</select><br>


<div ng-hide="recType=='normal'">

<select ng-model="locType"\>
    <option value="user">Search by User Location</option>
    <option value="predef">Search by User Inputted Address</option>
</select>

<div ng-hide="locType=='predef'">
    <p>Get your user location for better results. <br>Default: based on user-saved Zipcode.</p>
    <button class="button expanded" ng-click="getLocation()">Get User Location<br></button>
    <br>{{locationInfo}}<br>
</div>

<div ng-hide="locType=='user'">
    <p>Find recommendations on selected address.</p>
    <label>Address <input ng-model="address" type="text" placeholder="Example: 303 S 5th St"></label>
    <label>City <input ng-model="city" type="text" placeholder="Example: Champaign"></label>
    <label>State <input ng-model="state" type="text" placeholder="Example: IL or Illinois"> </label>
    <label>Zipcode <input ng-model="inputzip" type="text" placeholder="Example: 61820"></label>
</div>

    Distance<select ng-model="distance">
        <option value="402">0.25 Miles</option>
        <option value="804">0.5 Miles</option>
        <option value="1609">1 Mile</option>
        <option value="3219">2 Miles</option>
        <option value="8047">5 Miles</option>
        <option value="16093">10 Miles</option>
        <option value="32187">20 Miles</option>
    </select>

    Minimum Price Rating<select ng-model="minPrice">
        <option value="0">No minimum</option>
        <option value="1">$</option>
        <option value="2">$$</option>
        <option value="3">$$$</option>
        <option value="4">$$$$</option>
    </select>

    Maximum Price Rating<select ng-model="maxPrice">
        <option value="1">$</option>
        <option value="2">$$</option>
        <option value="3">$$$</option>
        <option value="4">$$$$</option>
    </select>

    Open Now?<select ng-model="openNow">
        <option value="true">Open Now!</option>
        <option value="false">Doesn't Matter!</option>
    </select>

    Food Style<select ng-model="foodStyle">
        <option value="american">American</option>
        <option value="asian">Asian</option>
        <option value="italian">Italian</option>
        <option value="meditarranean">Meditarranean</option>
        <option value="mexican">Mexican</option>
        <option value="pasta">Pasta</option>
        <option value="pizza">Pizza</option>
        <option value="sandwich">Sandwich</option>
        <option value="restaurant">Any</option>
    </select>

</div>
    <button class="button expanded" ng-click="getRec()">Give Me My Recommendations!</button>

<div id="locResults"></div>


<h1>Recommended Restaurants</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Location</th>
    </tr>
    <tr ng-repeat="restaurant in restaurants | orderBy: orderProp">
        <td><a href="#viewRestaurants/{{restaurant.location}}">{{restaurant.name}}</a></td>
        <td>{{restaurant.location}}</td>
    </tr>
</table>

</div>