<div  ng-controller="restaurantDetailsCtrl">

<h1>Name: {{restaurant.name}}</h1>

<h1>Location:</h1> {{restaurant.location}}
<h1>Quality Rating:</h1> {{restaurant.qualityrating}}
<h1>Price Rating:</h1> {{restaurant.pricerating}}
<h1>Foodstyle:</h1> {{restaurant.foodstyle}}
<ul>
<li ng-repeat="review in reviews">
    <a href="#reviews/{{review.username}}/{{review.location}}">{{review.username}}</a><button ng-click="deleteReview(review)" class="button" style="background-color:red;" ng-hide="user=='admin'">Delete Review</button>
</li>
    </ul>

</div>