<div class="reviews">

<h1>Submit Reviews</h1>
<form ng-submit="sendPost()">
					<label>Username
                        <input ng-model="username" type="text" placeholder="Username">
                    </label>
					<label>Restaurant Name
                        <input ng-model="restaurantname" type="text"placeholder="Restaurant Name">
                    </label>
                    <label>Location
                        <input ng-model="location" type="text" placeholder="Location">
                    </label>
			Quality rating
             <select ng-model="qualityrating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
			</select>
			Price rating
             <select ng-model="pricerating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
			</select>
<label>Type your review here...
        <textarea ng-model="comment" rows="10" cols="30"placeholder="Begin typing..."></textarea>
    </label>
    <button type="submit" class = "button expanded">Send</button>
    </form>
</div>

</div>
