
<div class="search">
    <div class="row">
        <div class="col-md-2">
            <!--Sidebar content-->

<h1>Search</h1>
<section>
Search: <input ng-model="query">
<br><br>
</section>
        </div>
        <div class="col-md-10">
            <!--Body content-->

            <ul class="restaurantNames" style="list-style-type: none;">
                    <li ng-repeat="restaurant in restaurants | filter:query">
                        <h3 class = "restaurantName"><a href="#viewRestaurants/{{restaurant.location}}">{{restaurant.name}}</a> | {{restaurant.location}}</h3>
                    </li>
            </ul>

        </div>
    </div>
</div>


