
<div class="search">
    <div class="row">
        <div class="col-md-2">
            <!--Sidebar content-->

<a class = "button" href="#/home">Home</a>
<a class = "button" href="#/addRestaurant">Add Restaurant</a>
<a class = "button" href="#/viewRestaurants">View Restaurants</a>
<a class = "button" href="#/reviews">Reviews</a>
<a class = "button" href="#/search">Search</a>
<a class = "button" href="#/deleteRestaurants">Remove restaurant</a>
<a class = "button" href="#/login">Login</a>
<a class = "button" href="#/newuser">Create an account</a>
<h1>Search</h1>
<section>
Search: <input ng-model="query">
<br><br>
</section>
        </div>
        <div class="col-md-10">
            <!--Body content-->

            <ul class="restaurantNames" style="list-style-type: none;">
                    <li ng-repeat="restaurant in restaurants | filter:query">
                        <h3 class = "restaurantName">{{restaurant.name}}</a></h3>
                    </li>
            </ul>

        </div>
    </div>
</div>


