

<h1>View all restaurants </h1>

        </div>
        <div class="col-md-10">
            <!--Body content-->

            <ul class="allRestaurants" style="list-style-type: none;">
                    <li ng-repeat="restaurant in restaurants | orderBy: orderProp">
                        <h3 class = "restaurantName"><a href="#viewRestaurants/{{restaurant.location}}">{{restaurant.name}}</a> <button ng-click="deleteRestaurant(restaurant.location)" class="button" style="background-color:red;">Delete Restaurant</button></h3>
                    </li>
            </ul>

        </div>
    </div>