
<div  ng-controller="viewRestaurantsCtrl">
<h1>View all restaurants </h1>


        <div class="col-md-10">
            <ul class="allRestaurants" style="list-style-type: none;">
                    <li ng-repeat="restaurant in restaurants | orderBy: orderProp">
                        <h3><a href="#viewRestaurants/{{restaurant.location}}">{{restaurant.name}}</a> {{restaurant.location}}<button ng-click="deleteRestaurant()" class="button" style="background-color:red;" ng-hide="user=='admin'">Delete Restaurant</button></h3>
                    </li>
            </ul>

        </div>
</div>
